/*

Styles to override the theme.

*/

.td-navbar {
  max-width: 1280px;
  background: #132f48;
}


.td-navbar .navbar-brand svg {
  margin: -8px 10px 0;
}

    li.nav-item {
      margin-bottom: 0;
    }

    .navbar-dark .navbar-nav .nav-link,
    .navbar-dark .navbar-nav .nav-link:hover,
    .navbar-dark .navbar-nav .nav-link:focus {
        color: #fff;
        line-height: 65px;
        margin-bottom: 0;
        padding: 0 10px;
    }

    .dropdown-toggle::after {
      position: relative;
      /* top: 3pt; Uncomment this to lower the icons as requested in comments*/
      content: "";
      display: inline-block;
      /* By using an em scale, the arrows will size with the font */
      width: 0.5em;
      height: 0.5em;
      border-top: 0 none;
      border-left: 0 none;
      border-right: 2px solid #fff;
      border-bottom: 2px solid #fff;
      transform: rotate(45deg);
      margin-left: 0.5rem
    }

    .dropdown-menu {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1000;
        display: none;
        float: left;
        min-width: 16em;
        padding: 0 0 1rem;
        margin: 0;
        font-size: 1rem;
        color: #fff;
        text-align: left;
        list-style: none;
        background-color: rgba(19, 47, 72, 0.9);
        background-clip: padding-box;
        border: 0px solid transparent;
        border-radius: 0;
        box-shadow: none;
        backdrop-filter: blur(4px);
    }

    .dropdown-item,
    .dropdown-item:hover,
    .dropdown-item:focus {
        display: block;
        width: 100%;
        padding: 0.5rem 1.5rem;
        clear: both;
        font-weight: 400;
        color: #fff;
        text-align: inherit;
        white-space: nowrap;
        background-color: transparent;
        border: 0;
    }
    .dropdown-item:hover,
    .dropdown-item:focus {
      text-decoration:underline;
      background: transparent;
    }

@media (max-width: 992px) {
  .navbar-nav .nav-item{
    display:none;
  }
}

@media (min-width: 992px) {
    body>header {
        position: fixed;
        top: 0;
        width: 100%;
        background: rgba(19, 47, 72, 0.9);
        z-index:1000;
        min-height: 65px;
        backdrop-filter: blur(4px);
    }
    .td-navbar {
      position:relative;
      margin: 0 auto;
      padding-left: 5px;
      padding-right: 5px;
      background:transparent;
      min-height: 65px;
      padding-top:0;
      padding-bottom:0;
    }
    .td-navbar-nav-scroll{
      width: 100%;
    }
    
    .td-navbar .navbar-brand svg {
      width: 30px;
      margin: -8px 10px 0 0;
      height: auto;
    }
    .td-navbar .navbar-brand span.font-weight-bold {
      display:inline-block;
      vertical-align: 1px;
      font-size:18px;
    }

    .td-sidebar {
        padding-top: 75px;
        background-color: #e9ecf0;
        padding-right: 1rem;
        border-right: 1px solid #dee2e6;
    }

    .td-sidebar-toc {
        border-left: 1px solid $border-color;

        @supports (position: sticky) {
            position: sticky;
            top: 75px;
            height: calc(100vh - 85px);
            overflow-y: auto;
        }
        order: 2;
        padding-top: 5px;
        padding-bottom: 1.5rem;
        vertical-align: top;
    }


    .header-social-wrap {
      height: 65px;
      display: flex;
      margin-left: auto;
      align-items: center;
      margin-bottom: 0;
    }
}




footer.bg-dark {
  background: #132f48 !important;
}

img {
  max-width:100%;
  height: auto;
}

button {
  border-radius: 50px;
  background: #fe4954;
  color: #fff;
  padding-left: 20px;
  padding-right: 20px;
  border-width: 0;
}

.lead {
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid #dee2e6;
  color: rgba(85,85,85,0.5);
  font-weight: 300;
}

h1, .h1 {
  font-size: 2.5rem;
  font-weight: 300;
  color: #667373;
  @media (min-width:768px){
    font-size: 3rem;
  }
}

h2, .h2, h3, .h3 {
  margin-top: 1.5em;
  font-weight: 700;
  color: #667373;
}

li {
  margin-bottom: 0.5rem;
}

table {
  border-radius: 6px;
  margin-bottom: 2em;
  overflow:hidden;
}

td, th {
  padding: 0.5rem;
}

th {
  background: #667373;
  color: #fff;
}

tr:nth-child(odd) {
  background: $td-sidebar-bg-color;
} 

tr:nth-child(even) {
  background-color: rgba(233, 236, 240, 0.5);
} 


.feedback--title {
  border-top: 1px solid #dee2e6;
  padding-top: 1em;
}

.feedback--answer {
  width: 4em;
}


// LEFT SIDEBAR

@media (min-width: 768px){
.td-sidebar-nav {
  min-height: 100%;
}}

#m-upgrade_ebook,
#m-join_slack,
#m-clickhouse_training {
  font-weight: bold;
  color: #189DD0;
  padding-left: 20px !important;
  font-size: 15px;
}

#m-upgrade_ebook:hover span,
#m-join_slack:hover span,
#m-clickhouse_training:hover span {
  text-decoration: underline;
}

#m-clickhouse_training {
  background:url('data:image/svg+xml,<svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M25 50C38.8071 50 50 38.8071 50 25C50 11.1929 38.8071 0 25 0C11.1929 0 0 11.1929 0 25C0 38.8071 11.1929 50 25 50ZM28.479 27.1423C27.189 27.7207 25.8062 28.0122 24.4121 27.9995C21.6694 27.9302 19.0566 26.7063 17.1172 24.5823C15.1782 22.4585 14.062 19.5981 14.0005 16.5964C13.9878 15.0706 14.2534 13.5571 14.7808 12.1448C15.3081 10.7322 16.0874 9.44873 17.0732 8.36938C18.0586 7.29004 19.231 6.43628 20.521 5.85767C21.811 5.2793 23.1938 4.98779 24.5879 5.00049C27.3306 5.06982 29.9434 6.2937 31.8828 8.41772C33.8218 10.5415 34.938 13.4019 34.9995 16.4036C35.0122 17.9294 34.7466 19.4429 34.2192 20.8552C33.6919 22.2678 32.9126 23.5513 31.9268 24.6306C30.9414 25.71 29.769 26.5637 28.479 27.1423ZM27.5435 10.9453C26.5112 10.2695 25.3149 9.95435 24.1147 10.042C22.6846 10.1465 21.3379 10.8157 20.3247 11.9253C19.312 13.0349 18.7012 14.5093 18.6069 16.0745C18.5283 17.3882 18.8169 18.697 19.4355 19.8262C19.9004 20.675 20.5347 21.3921 21.2866 21.9268C21.5347 22.1033 21.7959 22.2598 22.0679 22.3945C23.1636 22.9377 24.3843 23.1025 25.5679 22.8665C26.7515 22.6304 27.8408 22.0051 28.6909 21.0737C29.5415 20.1426 30.1118 18.9497 30.3267 17.6543C30.541 16.3589 30.3896 15.0227 29.8926 13.824C29.395 12.6252 28.5757 11.6211 27.5435 10.9453ZM24.4458 29.1689C22.8096 29.1716 21.1904 28.813 19.689 28.1155C18.187 27.418 16.8354 26.3962 15.7168 25.114C15.6812 25.0735 15.6377 25.0422 15.5894 25.0227C15.5405 25.0032 15.4888 24.9961 15.437 25.002C15.3857 25.0078 15.3364 25.0264 15.2925 25.0564C15.249 25.0862 15.2124 25.1267 15.1855 25.1743L9.0874 36.6387C9.02979 36.7471 8.99951 36.8699 9 36.9946C9.00049 37.1196 9.03174 37.2422 9.09033 37.3499C9.14941 37.4578 9.2334 37.5469 9.33447 37.6086C9.43555 37.6704 9.5498 37.7024 9.66602 37.7014H16.1104C16.2251 37.7009 16.3384 37.7324 16.439 37.793C16.4937 37.8259 16.5435 37.8669 16.5869 37.9146C16.6235 37.9543 16.6553 37.9988 16.6821 38.0469L19.8198 43.6536C19.8823 43.7649 19.9717 43.856 20.0786 43.9167C20.1855 43.9775 20.3057 44.0061 20.4268 43.999C20.5474 43.9919 20.6641 43.9495 20.7642 43.8767C20.8643 43.8037 20.9438 43.7029 20.9946 43.5847L24.4536 35.4111L26.9707 29.4578C26.9844 29.425 26.9937 29.3904 26.9976 29.3552C27.001 29.3269 27.001 29.2981 26.9976 29.2695C26.9902 29.2053 26.9668 29.1445 26.9292 29.094C26.917 29.0774 26.9033 29.0618 26.8887 29.0479L26.8691 29.0308C26.8438 29.0103 26.8159 28.9939 26.7861 28.9819C26.7295 28.9595 26.6685 28.9541 26.6094 28.9663C25.8945 29.0994 25.1709 29.1672 24.4458 29.1689ZM28.8682 28.2305C30.4966 27.531 31.9619 26.467 33.1636 25.1118C33.2002 25.0723 33.2451 25.042 33.2944 25.0229C33.3438 25.0039 33.3965 24.9966 33.4487 25.0015C33.5015 25.0063 33.5518 25.0234 33.5972 25.0515C33.6426 25.0793 33.6816 25.1177 33.7114 25.1633L39.9136 36.6394C39.9468 36.7024 39.9707 36.77 39.9849 36.8398C39.9951 36.8906 40.0005 36.9426 40 36.9951C39.999 37.1194 39.9668 37.2415 39.9077 37.3489C39.8481 37.4563 39.7627 37.5454 39.6606 37.6074C39.5586 37.6694 39.4429 37.7021 39.3247 37.7024H32.7715C32.6543 37.7019 32.5391 37.7334 32.437 37.7939C32.3354 37.8545 32.25 37.9419 32.1895 38.0476L29 43.6536C28.9365 43.7649 28.8452 43.856 28.7368 43.9167C28.6279 43.9775 28.5054 44.0061 28.3828 43.999C28.2598 43.9919 28.1411 43.9495 28.0396 43.8767C27.9375 43.8037 27.8564 43.7026 27.8047 43.5847L25.0308 37.1482C25.0103 37.1021 25 37.052 25 37.0012C25 36.9507 25.0103 36.9004 25.0308 36.8545L28.688 28.4124C28.7046 28.3706 28.729 28.3328 28.7603 28.3015C28.791 28.2703 28.8281 28.2461 28.8682 28.2305Z" fill="%23189dd0"/></svg>') left 3px no-repeat transparent;
    background-size: 17px;
}

#m-contact_us {
  background:url('data:image/svg+xml,<svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M25 50C38.8071 50 50 38.8071 50 25C50 11.1929 38.8071 0 25 0C11.1929 0 0 11.1929 0 25C0 38.8071 11.1929 50 25 50ZM41.0439 27.6492C41.3911 26.3325 41.5923 24.9817 41.644 23.6211C41.77 21.3394 41.5049 19.053 40.8608 16.8601C40.2896 14.9219 39.3042 13.1309 37.9722 11.6111C36.6304 10.1206 34.9644 8.95752 33.103 8.21118C30.9556 7.36963 28.6631 6.95923 26.3569 7.00317C23.9634 6.96924 21.5898 7.44653 19.395 8.40332C17.3564 9.29688 15.5264 10.6045 14.02 12.2432C12.4883 13.9453 11.293 15.9216 10.4961 18.0681C9.61719 20.4185 9.12354 22.8955 9.03418 25.4033C8.89502 27.9812 9.18213 30.5647 9.88379 33.0493C10.4673 35.0884 11.5059 36.9683 12.9219 38.5471C14.3208 40.0491 16.0601 41.1924 17.9932 41.8811C20.2275 42.6631 22.583 43.0422 24.9502 43.0012C26.2339 42.9963 27.5132 42.8528 28.7661 42.5732C29.3857 42.436 29.9961 42.2593 30.5928 42.0442C30.9116 41.9277 31.2222 41.791 31.5229 41.635C31.7334 41.5259 31.939 41.4072 32.1392 41.2793L31.4258 38.0713C30.9761 38.2659 30.5142 38.4329 30.0439 38.5713C29.728 38.6672 29.397 38.7566 29.0542 38.8379C28.8545 38.8853 28.6509 38.9297 28.4438 38.9712C27.8804 39.0876 27.312 39.1765 26.7407 39.2375C26.1738 39.2983 25.604 39.332 25.0332 39.3381C23.2612 39.3701 21.4985 39.0759 19.833 38.4702C18.3784 37.9263 17.0835 37.0256 16.0669 35.8513C15.0073 34.5833 14.2476 33.0925 13.8442 31.4902C13.3457 29.5027 13.1587 27.45 13.2891 25.4053C13.373 23.376 13.7437 21.3689 14.3892 19.4431C14.9678 17.7036 15.8555 16.0823 17.0088 14.6572C18.1001 13.3237 19.4639 12.239 21.0088 11.4763C22.6514 10.6914 24.4536 10.2986 26.2739 10.3291C28.0962 10.2847 29.9087 10.6162 31.5972 11.3032C33.0225 11.906 34.2788 12.8494 35.2549 14.0503C36.2363 15.3054 36.9316 16.7595 37.293 18.3113C37.7173 20.1145 37.8735 21.9705 37.7559 23.8191C37.7246 24.811 37.6025 25.7979 37.3911 26.7671C37.2124 27.5876 36.9326 28.3828 36.5581 29.1343C36.2578 29.7385 35.8364 30.2747 35.3198 30.7092C35.0049 30.9734 34.6279 31.1538 34.2246 31.2334C33.8208 31.313 33.4038 31.2891 33.0122 31.1643C32.7583 31.0845 32.5308 30.9368 32.355 30.7373C32.1538 30.5022 32.0146 30.2207 31.9502 29.9182C31.8618 29.481 31.8521 29.0317 31.9209 28.5913L32.9072 17.2512C32.5068 16.9812 32.1069 16.7163 31.707 16.4592C31.293 16.1921 30.856 15.9617 30.4019 15.7703C29.894 15.5613 29.3662 15.4031 28.8271 15.2981C28.417 15.2229 28.0029 15.1719 27.5869 15.1455C27.3242 15.1289 27.061 15.1221 26.7979 15.1252C25.6245 15.1177 24.4648 15.3755 23.4048 15.8792C22.3359 16.3967 21.3857 17.1306 20.6152 18.0342C19.7563 19.0417 19.0703 20.1846 18.585 21.4163C18.019 22.8311 17.6489 24.3164 17.4849 25.8313C17.3501 27.0315 17.3989 28.2454 17.6289 29.4312C17.8154 30.4141 18.1885 31.3523 18.729 32.1941C19.2036 32.937 19.8599 33.5461 20.6362 33.9636C21.4126 34.3811 22.2827 34.593 23.1641 34.5791C24.1558 34.6069 25.1387 34.3884 26.0254 33.9431C26.9121 33.4976 27.6743 32.8394 28.2441 32.0271C28.6772 32.8457 29.3374 33.5215 30.146 33.9731C31.0039 34.4414 31.9688 34.678 32.9458 34.6592C34.3008 34.697 35.6411 34.3667 36.8232 33.7031C37.8848 33.073 38.792 32.2131 39.478 31.1863C40.1934 30.1028 40.7227 28.9072 41.0439 27.6492ZM22.7212 29.6211C22.2686 28.4087 22.1309 27.1013 22.3208 25.8213C22.4165 24.8003 22.5938 23.792 22.853 22.8032C23.0513 22.0266 23.3667 21.2847 23.7891 20.6033C24.1387 20.0444 24.6235 19.5823 25.1982 19.2593C25.813 18.9429 26.4976 18.7859 27.189 18.8022C27.5942 18.8018 27.9976 18.855 28.3892 18.9602L27.6191 27.7712C27.5059 28.1348 27.3643 28.4885 27.1958 28.8293C27.1045 29.0139 27.0054 29.1946 26.8989 29.3711C26.6865 29.7236 26.4229 30.042 26.1162 30.3162C25.9995 30.4207 25.873 30.5129 25.7388 30.5923C25.6133 30.6663 25.4814 30.729 25.3442 30.7793C25.1284 30.8557 24.9023 30.8975 24.6738 30.9033C24.2563 30.916 23.8447 30.7998 23.4951 30.5703C23.146 30.3411 22.8755 30.0095 22.7212 29.6211Z" fill="%23189dd0"/></svg>') left 3px no-repeat transparent;
    background-size: 17px;
}

#m-join_slack {
  background:url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40"><path d="M20,40A20.005,20.005,0,0,1,12.215,1.572a20.005,20.005,0,0,1,15.57,36.856A19.875,19.875,0,0,1,20,40Zm.752-11.882v2.941a2.941,2.941,0,1,0,2.941-2.941Zm-4.446-7.366a2.945,2.945,0,0,0-2.941,2.941v7.366a2.941,2.941,0,0,0,5.882,0V23.693A2.945,2.945,0,0,0,16.306,20.752Zm7.387,0a2.941,2.941,0,0,0,0,5.882h7.366a2.941,2.941,0,0,0,0-5.882Zm-14.752,0a2.941,2.941,0,1,0,2.941,2.941V20.752Zm22.118-7.387a2.945,2.945,0,0,0-2.941,2.941v2.941h2.941a2.941,2.941,0,0,0,0-5.882ZM23.693,6a2.945,2.945,0,0,0-2.941,2.941v7.365a2.941,2.941,0,0,0,5.882,0V8.941A2.945,2.945,0,0,0,23.693,6ZM8.941,13.365a2.941,2.941,0,0,0,0,5.882h7.365a2.941,2.941,0,0,0,0-5.882ZM16.306,6a2.941,2.941,0,1,0,0,5.882h2.941V8.941A2.945,2.945,0,0,0,16.306,6Z" transform="translate(0)" fill="%23189dd0" /></svg>') left 3px no-repeat transparent;
  background-size: 17px;
}

#m-upgrade_ebook {
  background:url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40"><path id="Subtraction_1" data-name="Subtraction 1" d="M20,40A20.005,20.005,0,0,1,12.215,1.572a20.005,20.005,0,0,1,15.57,36.856A19.875,19.875,0,0,1,20,40ZM8.438,11A1.416,1.416,0,0,0,7,12.388V27.639a1.406,1.406,0,0,0,1.355,1.383c2.364.125,6.79.566,9.876,2.12a.745.745,0,0,0,.336.081.7.7,0,0,0,.712-.688V14.1a.683.683,0,0,0-.329-.587C17.66,12.722,14.591,11.347,8.525,11Zm23.124,0-.087,0c-6.066.344-9.136,1.72-10.426,2.509a.691.691,0,0,0-.329.595V30.532a.7.7,0,0,0,.715.689.736.736,0,0,0,.337-.081c1.326-.667,4.372-1.829,9.872-2.118A1.408,1.408,0,0,0,33,27.638V12.388a1.355,1.355,0,0,0-.422-.984A1.456,1.456,0,0,0,31.562,11Z" fill="%23189dd0"/></svg>') left 3px no-repeat transparent;
  background-size: 17px;
}

#m-join_slack-li {
  padding-top:20px;
  border-top: 1px #189DD0 solid;
  margin-top:20px;
}



footer {
  min-height: auto !important;
  color: #fff;
}
footer a, footer a:hover, footer a:active {
  color: #fff;
}

footer .nav li {
  font-size: 14px;
  line-height: 1.8;
}

// Twitter icon fix

footer i.fab.fa-twitter:before{
  content: ' ';
  width: 24px;
  height: 24px;
  display:inline-block;
  background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M64 32C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64H384c35.3 0 64-28.7 64-64V96c0-35.3-28.7-64-64-64H64zm297.1 84L257.3 234.6 379.4 396H283.8L209 298.1 123.3 396H75.8l111-126.9L69.7 116h98l67.7 89.5L313.6 116h47.5zM323.3 367.6L153.4 142.9H125.1L296.9 367.6h26.3z" fill="%23ffffff"/></svg>') center bottom no-repeat transparent;
  background-size: contain;
  vertical-align: -3px;
}

footer .footer-inner {
  max-width: 1280px;
  margin: 0 auto;
}
