/*

Add styles or override variables from the theme here.

*/

$primary: #189DD0;
$secondary: #ffcc00;
$info: #667373;
$danger: #fe4954;
$success: #5ca012;
$td-sidebar-bg-color: #e9ecf0;

$google_font_name: "Arimo";
$google_font_family: "Arimo:300,300i,400,400i,700,700i";