{{ if not .Params.notoc }}
{{ with .TableOfContents }}
{{ if ge (len .) 200 }}
{{ . }}
{{ end }}
{{ end }}
{{ end }}
{{ partial "social-links.html" . }}

<div style="font-size: small; color: black; font-style: normal; background-color: #eeeeee; padding: 15px;">
  Altinity®, Altinity.Cloud®, and Altinity Stable® are registered trademarks of Altinity, Inc. ClickHouse® is a registered trademark of ClickHouse, Inc.; Altinity is not affiliated with or associated with ClickHouse, Inc.
</div>
<div style="font-size: medium; font-style: normal; padding: 15px;">
  <span style="font-size: 24px; font-weight: bold; color: #199dd0">Project Antalya</span><br/>
  Build Real‑Time Data Lakes with ClickHouse® and Apache Iceberg<br/>
  <a href="https://altinity.com/project-antalya-real-time-data-lakes/"><span style="font-style: italic; font-weight: bold; color: #199dd0;">Learn more</span></a>
</div>
