{{ if not .Params.notoc }}
{{ with .TableOfContents }}
{{ if ge (len .) 200 }}
{{ . }}
{{ end }}
{{ end }}
{{ end }}
{{ partial "social-links.html" . }}

<div style="font-size: small; color: black; font-style: normal; background-color: #eeeeee; padding: 15px;">
  Altinity®, Altinity.Cloud®, and Altinity Stable® are registered trademarks of Altinity, Inc. ClickHouse® is a registered trademark of ClickHouse, Inc.; Altinity is not affiliated with or associated with ClickHouse, Inc.
</div>
<div style="font-size: medium; font-style: normal; padding: 15px;">
  <span style="font-size: 24px; font-weight: bold; color: #199dd0">Webinar:</span><br/>
  Production ClickHouse® with the Altinity K8s Operator<br/>
  <a href="https://hubs.la/Q046-TX80">
    <span style="font-style: italic; font-weight: bold; color: #199dd0;">March 24. Register now!</span>
  </a>
</div>
