{{ if not .Params.notoc }}
{{ with .TableOfContents }}
{{ if ge (len .) 200 }}
{{ . }}
{{ end }}
{{ end }}
{{ end }}
{{ partial "social-links.html" . }}

<div style="font-size: small; color: black; font-style: normal; background-color: #eeeeee; padding: 15px;">
  Altinity®, Altinity.Cloud®, and Altinity Stable® are registered trademarks of Altinity, Inc. ClickHouse® is a registered trademark of ClickHouse, Inc.; Altinity is not affiliated with or associated with ClickHouse, Inc.
</div>
<div style="font-size: medium; font-style: normal; padding: 15px;">
  <img src="/images/hetzner-logo.svg" alt="Hetzner logo"/><br/><br/>
  <span style="font-weight: bold; color: #d50c2c;">NEW:</span> Our managed service for ClickHouse is on Hetzner Cloud (in beta).
  <a href="https://altinity.com/altinity-cloud-on-hetzner/">Come talk to us!</a>
</div>
